*.swp

.DS_Store

vim/.vim/*.vim
vim/.vim/.netrwhist
vim/.vim/autoload/
vim/.config/nvim/plugin/packer_compiled.lua
vim/.vim/spell/
vim/.vim/view

qutebrowser/.qutebrowser/bookmarks/urls
qutebrowser/.qutebrowser/quickmarks

hammerspoon/.hammerspoon/Spoons
