[submodule "vim/.vim/bundle/command-t"]
	path = vim/.vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "vim/.vim/bundle/vim-slime"]
	path = vim/.vim/bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "vimperator/.vimperator/colors"]
	path = vimperator/.vimperator/colors
	url = https://github.com/vimpr/vimperator-colors.git
