! Xft {{{
 
Xft.dpi:          96 
Xft.antialias:    true
Xft.hinting:      true
Xft.rgba:         rgb
Xft.autohint:     false
Xft.hintstyle:    hintfull
Xft.lcdfilter:    lcddefault

! }}}

! URxvt {{{
 
URxvt.depth:            32
URxvt.loginShell:       true
URxvt.saveLines:        500
URxvt.internalBorder:   5
URxvt.lineSpace:        0
URxvt.transparent:      false
URxvt.cursorBlink:      true
URxvt.allow_bold:       true
URxvt.inheritPixmap:    false
URxvt.visualBell:       false
URxvt.letterSpace:      -1
URxvt.scrollBar:        false
URxvt.pointerBlank:     true
URxvt.font:             xft:DejaVu Sans Mono-10:antialias=true:hinting=true
URxvt.boldFont:         xft:DejaVu Sans Mono-10:antialias=true:hinting=true

! perl scripts
URxvt.perl-ext-common: font-size

! key-bindings for font-size control (plus/minus/0)
URxvt.keysym.Control-0x3d: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease
URxvt.keysym.Control-0x30: perl:font-size:reset

! }}}

! Colors {{{

URxvt.foreground: #F8F8F2
URxvt.background: #282A36
URxvt.color0:     #000000
URxvt.color8:     #4D4D4D
URxvt.color1:     #FF5555
URxvt.color9:     #FF6E67
URxvt.color2:     #50FA7B
URxvt.color10:    #5AF78E
URxvt.color3:     #F1FA8C
URxvt.color11:    #F4F99D
URxvt.color4:     #CAA9FA
URxvt.color12:    #CAA9FA
URxvt.color5:     #FF79C6
URxvt.color13:    #FF92D0
URxvt.color6:     #8BE9FD
URxvt.color14:    #9AEDFE
URxvt.color7:     #BFBFBF
URxvt.color15:    #E6E6E6

! }}}
