!------------------------!
! __   ________ _______  !
! \ \ / /  ____|__   __| !
!  \ V /| |__     | |    !
!   > < |  __|    | |    !
!  / . \| |       | |    !
! /_/ \_\_|       |_|    !
!------------------------!
 
Xft.dpi:          96 
Xft.antialias:    true
Xft.hinting:      true
Xft.rgba:         rgb
Xft.autohint:     false
Xft.hintstyle:    hintfull
Xft.lcdfilter:    lcddefault

!----------------------------------!
!  _    _ _____               _    !
! | |  | |  __ \             | |   !
! | |  | | |__) |__  ____   _| |_  !
! | |  | |  _  / \ \/ /\ \ / / __| !
! | |__| | | \ \  >  <  \ V /| |_  !
!  \____/|_|  \_\/_/\_\  \_/  \__| !
!----------------------------------!                                 
 
URxvt.depth:            32
URxvt.loginShell:       true
URxvt.saveLines:        500
URxvt.internalBorder:   5
URxvt.lineSpace:        0
URxvt.transparent:      false
URxvt.cursorBlink:      true
URxvt.allow_bold:       true
URxvt.inheritPixmap:    false
URxvt.visualBell:       false
URxvt.letterSpace:      -1
URxvt.scrollBar:        false
URxvt.pointerBlank:     true
URxvt.font:             xft:DejaVu Sans Mono-10:antialias=true:hinting=true
URxvt.boldFont:         xft:DejaVu Sans Mono-10:antialias=true:hinting=true

!---------------------!
!  _____        __ _  !
! |  __ \      / _(_) !
! | |__) |___ | |_ _  !
! |  _  // _ \|  _| | !
! | | \ \ (_) | | | | !
! |_|  \_\___/|_| |_| !
!---------------------!

rofi.opacity:          100
rofi.width:            30
rofi.lines:            5
rofi.columns:          1
rofi.bw:               3
rofi.location:         0
rofi.padding:          5
rofi.yoffset:          0
rofi.xoffset:          0
rofi.separator-style:  dash
rofi.font:             Dejavu Sans Mono 10 

!--------------------------------!
!   _____      _                 !
!  / ____|    | |                !
! | |     ___ | | ___  _ __ ___  !
! | |    / _ \| |/ _ \|  __/ __| !
! | |___| (_) | | (_) | |  \__ \ !
!  \_____\___/|_|\___/|_|  |___/ !
!--------------------------------!

! p: primary
! s: secondary

! Reference chart for 256-colors:
! https://upload.wikimedia.org/wikipedia/en/1/15/Xterm_256color_chart.svg

#define c_background   #121212
#define c_foreground   #C8C8C8
#define c_black_p      #251F1F
#define c_black_s      #5E5E5E
#define c_red          #EB4509
#define c_green_p      #94E76B
#define c_green_s      #95E76B
#define c_yellow       #FFAC18
#define c_blue         #46AEDE
#define c_magenta      #E32C57
#define c_cyan         #D6DBAC
#define c_white        #EFEFEF

URxvt.background: c_background
URxvt.foreground: c_foreground
URxvt.color0:     c_black_p
URxvt.color8:     c_black_s
URxvt.color1:     c_red
URxvt.color9:     c_red
URxvt.color2:     c_green_p
URxvt.color10:    c_green_s
URxvt.color3:     c_yellow
URxvt.color11:    c_yellow
URxvt.color4:     c_blue
URxvt.color12:    c_blue
URxvt.color5:     c_magenta
URxvt.color13:    c_magenta
URxvt.color6:     c_cyan
URxvt.color14:    c_cyan
URxvt.color7:     c_white
URxvt.color15:    c_white

rofi.fg:          c_foreground
rofi.bg:          c_background
rofi.hlfg:        c_background
rofi.hlbg:        c_foreground
rofi.bc:          c_white
