snippet comp "Single File Component"
<template>
  <div>
  </div>
</template>

<style>
</style>

<script>
export default {
  data () {
    return {
      pageNotFound: '',
    }
  }
}
</script>
endsnippet
